body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: red;
  opacity: 0.5;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.content {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 30px;
  background-image: url(/chrome.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content2 {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 30px;
  background-image: url(/chrome.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.content3 {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 30px;
  background-image: url(/chrome.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.content4 {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 30px;
  background-image: url(/chrome.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.content5 {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 30px;
  background-image: url(/chrome.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content:hover {
  opacity: 0.8;
  cursor: pointer;
}
.content2:hover {
  opacity: 0.8;
  cursor: pointer;
}
.content3:hover {
  opacity: 0.8;
  cursor: pointer;
}
.content4:hover {
  opacity: 0.8;
  cursor: pointer;
}
.content5:hover {
  opacity: 0.8;
  cursor: pointer;
}
